/* --------------------------------------FOOTER-------------------------------------------------- */

footer {
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    background-color: $footer_color;
    font-weight: $font-Weight;
    font-size: $main-Fontsize
}
.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.containerFooter--Ul{
    display: flex;
    align-items: center;
    ul{
        display: flex;
        list-style: none;
        text-decoration: none;
        margin-bottom: 0;
        padding-left: 0;
        li{
            padding: 0 5px 0 10px;
        }
        a{
            cursor: pointer;
        }
    }
}


.paymentMethods {
    display: flex;
    flex-direction: row;
    p{
        padding-right: 10px;
        align-self: center;
        margin-bottom: 0;
    }
}


.paymentMethods--Image {
    width: 300px;
    height: 100px;
}


.containerFooter--ContactProgrammer {
    text-align: center;
}


.containerFooter--ContactProgrammer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: $font-Weight;
    font-size: $main-Fontsize;
    p{
        margin-bottom: 0;
        a{
            text-decoration: none;
            color: $primary-Color;
        }
    }
}

.containerFooter--ContactProgrammer{
    p{
        a::after{
            content:"";
            height: 2px;
            width: 0;
            background-color: black;
            display: block;
            transition: all 300ms
        }
    }
}

.containerFooter--ContactProgrammer{
    p{
        a:hover::after{
            width: 100%;
        }
    }
}