
/* ----------------------------HEADER---------------------------------- */
.bg-light {
    padding: 0;
    position:fixed;
    top: 0;
    width: 100%;
}

.container-fluid {
    background-color: $primary-Color;
    padding-left: auto;
    font-weight: $font-Weight;
    font-size: 20px;
    color: $font_Color;
}
.navbar-brand{
    .logoNav--Custom{
        width: 170px;
        height: 90px;
        padding: 0;}
}

.navbar-nav {
    li{
        padding: 0 20px;}
}
.me-auto {
    margin:0;
    margin-left: 100px;
}
.shopingCart--Button{
    background-image:url(../assets/images/carritoCompra.png);
    background-repeat:no-repeat;
    height:50px;
    width:60px;
    margin-right:130px ;
    background-size: 50px 50px;
    background-position:center;
    background-size: contain;
    border: none;
    background-color: white;
    transition: all 0.8s ease;
    cursor: pointer;
}

.containerFooter--ContactProgrammer>p>a::after {
    content:"";
    height: 2px;
    width: 0;
    background-color: black;
    display: block;
    transition: all 300ms;
}

.nav-link:hover::after , .containerFooter--ContactProgrammer>p>a:hover::after{
    width: 100%;
}

.nav-link::after{
    content:"";
    height: 2px;
    width: 0;
    background-color: black;
    display: block;
    transition: all 300ms;
    &:hover::after{
        width: 100%;
    }
}
