
/* ----------------------------HEADER---------------------------------- */
.bg-light {
    padding: 0;
    position:fixed;
    top: 0;
    width: 100%;
}

.container-fluid {
    background-color: white;
    padding-left: auto;
    font-weight: 800;
    font-size: 20px;
    color: black;
}
.navbar-brand{
    .logoNav--Custom{
        width: 170px;
        height: 90px;
        padding: 0;}
}

.navbar-nav {
    li{
        padding: 0 20px;}
}
.me-auto {
    margin:0;
    margin-left: 100px;
}
.shopingCart--Button{
    background-image:url(../assets/images/carritoCompra.png);
    background-repeat:no-repeat;
    height:50px;
    width:60px;
    margin-right:130px ;
    background-size: 50px 50px;
    background-position:center;
    background-size: contain;
    border: none;
    background-color: white;
    transition: all 0.8s ease;
    cursor: pointer;
}
