/*------------- MEDIA QUERIES MOBILE (767px)---------- */

@media screen and (max-width:767px){
    /*------------------- Header -------------------------------*/
        .bg-light{
            z-index: 10000;
        }
        .me-auto{
            margin-left: 0;
        }

        .navbar-toggler:focus{
            box-shadow: none;
        }

    
        .navbar-toggler{
            border: none;
            transition: none;
        }

    /* --------------MAIN LOGO ---------------------*/

        .index__Logos--Custom{
            display: none;
        }

        #carouselExampleSlidesOnly{
            margin-top: 120px;
            display: block;
            text-align: center;
            align-items: center;
            justify-content: center;
            img{
                width: 60px;
                height: 60px;
            }
            h3{
                font-size: $main-Fontsize;
                font-weight: $font-Weight;
                padding: 5px 5px;
            }
            .carousel-inner{
                .carousel-item{
                    height: 140.78px;
                }
            }
            
        }
    
        .padre__Grids {
            padding-top: 0.2rem;
            height: auto;
            grid-template-columns:repeat(1, 0.8fr) ;
            grid-template-rows: repeat(6, 0.8fr);
            grid-column-gap: 0px;
            grid-row-gap: 3rem;
        }
    
        /* ---------------REMERAS-------------------------- */
    
        .option__Shirts{
            padding-left: 10px;
            text-align: center;
        }

        button {
            margin-bottom: 4px;
        }
    
    
        /* --------SUBLIMADOS------------------ */
        .backgroundImage{
            height: auto;
            opacity: 0.9;
        }


        .functionFlex {
            flex-direction:column ;
        }
    
        .creation--Steps{
            height: auto;
        }
    
        .containerTableShirts{
            flex-wrap: wrap;
            img{
                width: 186px;
                height: auto;
            }
        }
    
        /* --------------Como comprar-------------------- */
    
        .howToBuy--Instruction{
            padding-left: 5px;
        }
        
        .whatsappLink{
            padding-right: 20px;
            width:auto;
            height: auto;
        }
    
        /* ---------------CONTACTO------------------- */


        .container__Contacts{
            flex-direction: column;
        }
    
        .contacts--Information{
            margin-top: 10px;
        }


        .contacts--Information{
            div{
                p{
                    padding: 0px 0px;
                    margin-bottom: 4px;
                    a{
                        text-decoration: none;
                    }
                }
            }

        }

        .iframe{
            display: none;
        }

        .contacts--Form{
            padding-left: 0;
        }
    
        .form--SeparatorInput{
            input{
                width: 95%;
            }
        }

        textarea{
            width: 95%;
        }
    
        .exclusive--FormButton{
            padding-right: 17px;
        }
        /* --------------FOOTER---------------- */


        footer {
            max-width: 100vw;
            height: auto;
            margin-top: 1rem;
            font-weight: $font-Weight;
            font-size: $main-Fontsize;
        }


        .containerFooter{
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
        }
        
        .containerFooter--Ul{
            padding: 10px 10px 0px 10px;
            width: auto;
            height: 4rem;
            ul{
                li{
                    padding: 0px 20px 0 0;
                }
            }
        }
    
    
        .iconsSocialMedia--Footer{
            width: 26px;
            height: 26px;
        }

        .paymentMethods {
            flex-direction: row;
            p{
                padding-right: 10px;
                align-self: center;
                padding-left: 10px;
            }
        }
        

        .paymentMethods--Image {
            width: 8rem;
            height: auto;
            padding: 10px 0px 10px 10px;
        }
        
        .containerFooter--ContactProgrammer {
            font-size: $main-Fontsize
        }
    
    }
    
    /* MEDIA QUERIE TABLETS (entre 768px y 1200px) */
    
    @media (min-width:768px) and (max-width:1200px){
        /*-------------------HEADER----------------  */


        .me-auto{
            margin-left: 0;
        }
    
        .index__Logos--Custom{
            div{
                padding: 0px 0px;
                text-align: center;
                h3{
                    font-size: $main-Fontsize
                }
            }
        }

        
    
    
        .padre__Grids {
            display: inline-grid;
            grid-template-columns:repeat(2, 250px) ;
            grid-template-rows: repeat(4, 50px);
            grid-column-gap: 130px;
            grid-row-gap: 350px;
            padding-top: 10px;
        }
        /* -------------------------REMERAS--------------------------------- */


        .grid--Image{
            height: 270px;
        }
        
        /* -----------------------Sublimados------------- */


        .containerTableShirts{
            flex-wrap: wrap;
        }

        /*----------------FOOTER-------------------  */


        footer {
            max-width: 100vw;
            margin-top: 0px;
            font-size: $main-Fontsize;
        }

        .containerFooter--Ul{
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                text-decoration: none;
                a{
                    cursor: pointer;
                }
            }
        }
    

        .flexRow--Responsive--Tablets{
            display: flex;
            flex-direction: row;
            padding-top: 10px;
        }
    
        
        .paymentMethods {
            display: flex;
            flex-direction: column;
            p{
                padding-right: 0px;
                padding-bottom: 7px;
                align-self: center;
            }
        }
        
        .paymentMethods--Image {
            width: 200px;
            height: 80px;
        }
    
        .containerFooter--ContactProgrammer {
            font-size: $main-Fontsize;
        }
    
    
        .nav-link:hover::after , .containerFooter--ContactProgrammer>p>a:hover::after{
            width: 0;
        }
    }
    
    
    @media (min-width:1201px){


        /* ---------------REMERAS--------- */
        .padre__Grids{
            grid-row-gap: 320px;
            padding: 100px;
        }

    
        /* --------FOOTER----- */
        footer {
            margin-top: 144px;
        }
    }
    


    /*MEDIAS QUERIES DESKTOP 2560PX*/
    @media (min-width:1800px) {
        /*------NAV----BAR--------*/

        .navbar-collapse{
            padding-left: 2vw;
            font-size: 32px;
        }

        .navbar-brand{
            .logoNav--Custom{
                margin-left: 14vw;
                width: 250px;
                height: 150px;
            }
        }

        .shopingCart--Button {
            margin-right: 20.7vw;
            height: 80px;
            width: 100px;
        }

        /*---------------MAIN-INDEX---------*/

        .index__Logos--Custom{
            margin-top: 170px;
            div{
                h3{
                    font-size: 25px;
                }
            }
        }

        .logosMain--Custom{
            width: 100px;
        }


        /*-------REMERAS----------*/
        .padre__Grids{
            padding-top: 0px;
            grid-row-gap: 380px;
        }

        .grid--Hijos{
            h3{
                font-size: 29px;
            }
            p{
                font-size: 27px;
            }
            button{
                font-size: 24px;
            }
        }

        .option__Shirts{
            padding-left: 16vw;
        }

        /*----------Sublimados-----------*/
        .backgroundImage{
            height: 60vh;
            margin-top: 170px;
            .stampTitle{
                h2{
                    font-size: 4rem;
                }
            }
        }

        .creation--Parragraph{
            font-size: 42px;
        }
        .functionFlex{
            .creation--Steps{
                font-size: 30px;
                font-weight: 900;
            }
        }

        .form--Stamp{
            width: 350px;
            height: 450px;
            font-size: 30px;
            select{
                font-size: 30px;
            }
            .button--CreationShirt{
                width: 100%;
                height: auto;
                font-size: 30px;
            }
        }

        /*------------COMO COMPRAR-------------*/

        .container__HowToBuy{
            padding: 40px;
            div{
                .howToBuy--Title{
                    font-size: 50px;
                }
            }
            .howToBuy--Instruction{
                font-size: 40px;
            }
        }


        /*----------CONTACTO--------------*/

        .container__Contacts{
            margin-top: 190px;
                div{
                    font-size: 45px;
                }
        }

        .form--SeparatorInput{
            input{
                height: auto;
                font-size: 45px;
            }
        }
        .exclusive--FormButton{
            input{
                width: 300px;
                height: auto;
                font-size: 50px;
            }
        }
        .iframe{
            border: 0;
            margin-top: 160px;
            iframe{
                width: 1000px;
                height: 500px;
            }
        }

        /*--------FOOTER---------*/

        footer{
            font-size: 30px;
        }  
        
        .containerFooter--Ul{
            ul{
                li{
                    padding: 0 10px 0 40px;
                    a{
                        img{
                            width: 4rem;
                        }
                    }
                }
            }
        }
        
        .paymentMethods--Image{
            width: 350px;
            height: 150px;
        }

        .containerFooter--ContactProgrammer{
            font-size: 32px;
        }
    }