//Shopping cart button

/*----Shopping cart button wich belongs to headear----*/
.shopingCart--Button{
    background-image:url(../assets/images/carritoCompra.png);
    background-repeat:no-repeat;
    height:50px;
    width:60px;
    margin-right:130px ;
    background-size: 50px 50px;
    background-position:center;
    background-size: contain;
    border: none;
    background-color: white;
    transition: all 0.8s ease;
    cursor: pointer;
    &:hover{
        transition: all 0.6s ease;
        filter: brightness(100%);
        background-color: $shopping_CartTransition;
    }
}


//Option shirts button

/*--------------------Remeras------------------*/

.option__Shirts {
    padding: 15px 0 15px 105px;
    font-size: $main-Fontsize;
    font-weight: $font-Weight;
    label{
        padding-right: 10px;
    }
}

.categories {
    border-radius: 8px;
    color: $font_Color;
    font-size: $main-Fontsize;
    font-weight: $font-Weight;
    option{
        color: $font_Color;
        font-weight: $font-Weight;
    }
}


//Creation shirt button

.button--CreationShirt {
    font-weight: $font-Weight;
    font-size: $main-Fontsize;
    border: none;
    cursor: pointer;
    width: 58.9%;
    padding: 2px 0 0 2px;
}


