/*-----------------------------------COMO-COMPRAR----------------------------------------- */
.container__HowToBuy{
    margin-top: 90px;
}

.howToBuy--Title {
    padding: 20px 0 10px 10px;
    font-weight: $font-Weight;
}

.howToBuy--Instruction {
    font-weight: $font-Weight;
    font-size: $main-Fontsize;
    padding: 0 0 0 20px;
    ol{
        padding-left: 40px;
        li{
            padding: 0 0 5px 0;
        }
    }
}

.whatsappLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        padding-right: 20px;
    }
}

