//Font color
$font_Color:#000;

//Main-color
$primary-Color:#fff;
$secondary-Color:#555555;

//Form contact
$form-Button-Contact:#808080;
$fontColorContact:#fff;

//Button Grid
$buttonGrid:#000;

//Button Shopping cart transition
$shopping_CartTransition:rgb(251, 255, 1);