//Font color
$font_Color:#000;

//Main-color
$primary-Color:#fff;

//Footer color
$footer_color:#343a40;

//Form contact
$form-Button-Contact:#808080;

//Button Grid
$buttonGrid:#000;

//Button Shopping cart transition
$shopping_CartTransition:rgb(251, 255, 1);